{% extends 'base.html.twig' %}

{% block header %}
<nav>
    <div class="top-nav">
        <div class="top-nav__content">
                <a href="" title="dane wesela" class="top-nav__user-wedding-settings">
                </a>
                <a href="" title="ustawienia konta" class="top-nav__user-avatar">
                </a>
                <a href="{{ path('app_logout') }}" title="wyloguj się" class="top-nav__user-logout">
                </a>
        </div>
    </div>
</nav>
{% endblock %}