{% extends 'layouts/app.html.twig' %}

{% block style %} 
        {{ encore_entry_link_tags('dashboard') }}
{% endblock %}
{% block main %}
<div class="main-margin-inline main-margin-block">
        <section>
            <div class="wedding-counter">
                <p>Do wesela zostało: <span class="first-color">185</span> dni!</p>
            </div>
        </section>
        <section>
            <div class="dashboard-grid">
                <a class="home-card">
                    <div class="home-card__header home-card__header--guests">
                        Goście
                    </div>
                    <div class="home-card__content">
                        <p>Liczba zaproszonych gości: <span class="first-color">56</span></p>
                        <p>Przyjęte zaproszenia: <span class="first-color">0</span></p>
                    </div>
                </a>
            </div>
        </section>
    </div>
{% endblock %}
{% block script %} 
        {{ encore_entry_script_tags('dashboard') }}
{% endblock %}
