<div class="guest-placement__set guest-placement__set--4-1">
    <div class="guest-placement__set-row--top">
        
        <div class="guest-placement__seat" data-seat-id="1"></div>
        <div class="guest-placement__seat" data-seat-id="2"></div>
        <div class="guest-placement__seat" data-seat-id="3"></div>
        <div class="guest-placement__seat" data-seat-id="4"></div>
        <div class="guest-placement__seat" data-seat-id="5"></div>
        <div class="guest-placement__seat" data-seat-id="6"></div>
        <div class="guest-placement__seat" data-seat-id="7"></div>
        <div class="guest-placement__seat" data-seat-id="8"></div>
        <div class="guest-placement__seat" data-seat-id="9"></div>
        <div class="guest-placement__seat" data-seat-id="10"></div>
        <div class="guest-placement__seat" data-seat-id="11"></div>
        <div class="guest-placement__seat" data-seat-id="12"></div>
        <div class="guest-placement__seat" data-seat-id="13"></div>
        <div class="guest-placement__seat" data-seat-id="14"></div>
        <div class="guest-placement__seat" data-seat-id="15"></div>
        <div class="guest-placement__seat" data-seat-id="16"></div>
        <div class="guest-placement__seat" data-seat-id="17"></div>
        <div class="guest-placement__seat" data-seat-id="18"></div>
        <div class="guest-placement__seat" data-seat-id="19"></div>
        <div class="guest-placement__seat" data-seat-id="20"></div>
    </div>
    <div class="guest-placement__table guest-placement__table--4-1"></div>

</div>

<div class="guest-placement__set guest-placement__set--4-2">
    <div class="guest-placement__set-row--right-side">

        <div class="guest-placement__seat" data-seat-id="21"></div>
        <div class="guest-placement__seat" data-seat-id="22"></div>
        <div class="guest-placement__seat" data-seat-id="23"></div>
        <div class="guest-placement__seat" data-seat-id="24"></div>
        <div class="guest-placement__seat" data-seat-id="25"></div>
        <div class="guest-placement__seat" data-seat-id="26"></div>
        <div class="guest-placement__seat" data-seat-id="27"></div>
        <div class="guest-placement__seat" data-seat-id="28"></div>
        <div class="guest-placement__seat" data-seat-id="29"></div>
        <div class="guest-placement__seat" data-seat-id="30"></div>
        <div class="guest-placement__seat" data-seat-id="31"></div>
        <div class="guest-placement__seat" data-seat-id="32"></div>
        <div class="guest-placement__seat" data-seat-id="33"></div>
        <div class="guest-placement__seat" data-seat-id="34"></div>
        <div class="guest-placement__seat" data-seat-id="35"></div>
        <div class="guest-placement__seat" data-seat-id="36"></div>
        <div class="guest-placement__seat" data-seat-id="37"></div>
        <div class="guest-placement__seat" data-seat-id="38"></div>
        <div class="guest-placement__seat" data-seat-id="39"></div>
        <div class="guest-placement__seat" data-seat-id="40"></div>
        <div class="guest-placement__seat" data-seat-id="41"></div>
        <div class="guest-placement__seat" data-seat-id="42"></div>
        <div class="guest-placement__seat" data-seat-id="43"></div>
        <div class="guest-placement__seat" data-seat-id="44"></div>
        <div class="guest-placement__seat" data-seat-id="45"></div>
        <div class="guest-placement__seat" data-seat-id="46"></div>
        <div class="guest-placement__seat" data-seat-id="47"></div>


    </div>
    <div class="guest-placement__table guest-placement__table--4-2"></div>

    <div class="guest-placement__set-row--left-side">

        <div class="guest-placement__seat" data-seat-id="48"></div>
        <div class="guest-placement__seat" data-seat-id="49"></div>
        <div class="guest-placement__seat" data-seat-id="50"></div>
        <div class="guest-placement__seat" data-seat-id="51"></div>
        <div class="guest-placement__seat" data-seat-id="52"></div>
        <div class="guest-placement__seat" data-seat-id="53"></div>
        <div class="guest-placement__seat" data-seat-id="54"></div>
        <div class="guest-placement__seat" data-seat-id="55"></div>
        <div class="guest-placement__seat" data-seat-id="56"></div>
        <div class="guest-placement__seat" data-seat-id="57"></div>
        <div class="guest-placement__seat" data-seat-id="58"></div>
        <div class="guest-placement__seat" data-seat-id="59"></div>
        <div class="guest-placement__seat" data-seat-id="60"></div>
        <div class="guest-placement__seat" data-seat-id="61"></div>
        <div class="guest-placement__seat" data-seat-id="62"></div>
        <div class="guest-placement__seat" data-seat-id="63"></div>
        <div class="guest-placement__seat" data-seat-id="64"></div>
        <div class="guest-placement__seat" data-seat-id="65"></div>
        <div class="guest-placement__seat" data-seat-id="66"></div>
        <div class="guest-placement__seat" data-seat-id="67"></div>
        <div class="guest-placement__seat" data-seat-id="68"></div>
        <div class="guest-placement__seat" data-seat-id="69"></div>
        <div class="guest-placement__seat" data-seat-id="70"></div>
        <div class="guest-placement__seat" data-seat-id="71"></div>
        <div class="guest-placement__seat" data-seat-id="72"></div>
        <div class="guest-placement__seat" data-seat-id="73"></div>
        <div class="guest-placement__seat" data-seat-id="74"></div>

    </div>
</div>


<div class="guest-placement__set guest-placement__set--4-3">

    <div class="guest-placement__set-row--right-side">

        <div class="guest-placement__seat" data-seat-id="75"></div>
        <div class="guest-placement__seat" data-seat-id="76"></div>
        <div class="guest-placement__seat" data-seat-id="77"></div>
        <div class="guest-placement__seat" data-seat-id="78"></div>
        <div class="guest-placement__seat" data-seat-id="79"></div>
        <div class="guest-placement__seat" data-seat-id="80"></div>
        <div class="guest-placement__seat" data-seat-id="81"></div>
        <div class="guest-placement__seat" data-seat-id="82"></div>
        <div class="guest-placement__seat" data-seat-id="83"></div>
        <div class="guest-placement__seat" data-seat-id="84"></div>
        <div class="guest-placement__seat" data-seat-id="87"></div>
        <div class="guest-placement__seat" data-seat-id="88"></div>
        <div class="guest-placement__seat" data-seat-id="89"></div>
        <div class="guest-placement__seat" data-seat-id="80"></div>
        <div class="guest-placement__seat" data-seat-id="91"></div>
        <div class="guest-placement__seat" data-seat-id="92"></div>

    </div>
    <div class="guest-placement__table guest-placement__table--4-3"></div>
    <div class="guest-placement__set-row--left-side">

        <div class="guest-placement__seat" data-seat-id="93"></div>
        <div class="guest-placement__seat" data-seat-id="94"></div>
        <div class="guest-placement__seat" data-seat-id="95"></div>
        <div class="guest-placement__seat" data-seat-id="96"></div>
        <div class="guest-placement__seat" data-seat-id="97"></div>
        <div class="guest-placement__seat" data-seat-id="98"></div>
        <div class="guest-placement__seat" data-seat-id="99"></div>
        <div class="guest-placement__seat" data-seat-id="100"></div>
        <div class="guest-placement__seat" data-seat-id="101"></div>
        <div class="guest-placement__seat" data-seat-id="102"></div>
        <div class="guest-placement__seat" data-seat-id="103"></div>
        <div class="guest-placement__seat" data-seat-id="104"></div>
        <div class="guest-placement__seat" data-seat-id="105"></div>
        <div class="guest-placement__seat" data-seat-id="106"></div>
        <div class="guest-placement__seat" data-seat-id="107"></div>
        <div class="guest-placement__seat" data-seat-id="108"></div>
        <div class="guest-placement__seat" data-seat-id="109"></div>
        <div class="guest-placement__seat" data-seat-id="110"></div>


    </div>
</div>

<div class="guest-placement__set guest-placement__set--4-4">

    <div class="guest-placement__set-row--right-side">

        <div class="guest-placement__seat" data-seat-id="111"></div>
        <div class="guest-placement__seat" data-seat-id="112"></div>
        <div class="guest-placement__seat" data-seat-id="113"></div>
        <div class="guest-placement__seat" data-seat-id="114"></div>
        <div class="guest-placement__seat" data-seat-id="115"></div>
        <div class="guest-placement__seat" data-seat-id="116"></div>
        <div class="guest-placement__seat" data-seat-id="117"></div>
        <div class="guest-placement__seat" data-seat-id="118"></div>
        <div class="guest-placement__seat" data-seat-id="119"></div>
        <div class="guest-placement__seat" data-seat-id="120"></div>
        <div class="guest-placement__seat" data-seat-id="121"></div>
        <div class="guest-placement__seat" data-seat-id="122"></div>
        <div class="guest-placement__seat" data-seat-id="123"></div>
        <div class="guest-placement__seat" data-seat-id="124"></div>
        <div class="guest-placement__seat" data-seat-id="125"></div>
        <div class="guest-placement__seat" data-seat-id="126"></div>
        <div class="guest-placement__seat" data-seat-id="127"></div>
        <div class="guest-placement__seat" data-seat-id="128"></div>


    </div>
    <div class="guest-placement__table guest-placement__table--4-4"></div>
    <div class="guest-placement__set-row--left-side">

        <div class="guest-placement__seat" data-seat-id="129"></div>
        <div class="guest-placement__seat" data-seat-id="130"></div>
        <div class="guest-placement__seat" data-seat-id="131"></div>
        <div class="guest-placement__seat" data-seat-id="132"></div>
        <div class="guest-placement__seat" data-seat-id="133"></div>
        <div class="guest-placement__seat" data-seat-id="134"></div>
        <div class="guest-placement__seat" data-seat-id="135"></div>
        <div class="guest-placement__seat" data-seat-id="136"></div>
        <div class="guest-placement__seat" data-seat-id="137"></div>
        <div class="guest-placement__seat" data-seat-id="138"></div>
        <div class="guest-placement__seat" data-seat-id="139"></div>
        <div class="guest-placement__seat" data-seat-id="140"></div>
        <div class="guest-placement__seat" data-seat-id="141"></div>
        <div class="guest-placement__seat" data-seat-id="142"></div>
        <div class="guest-placement__seat" data-seat-id="143"></div>
        <div class="guest-placement__seat" data-seat-id="144"></div>
        <div class="guest-placement__seat" data-seat-id="145"></div>
        <div class="guest-placement__seat" data-seat-id="146"></div>

    </div>
</div>
<div class="guest-placement__set guest-placement__set--4-5">

    <div class="guest-placement__set-row--right-side">

        <div class="guest-placement__seat" data-seat-id="147"></div>
        <div class="guest-placement__seat" data-seat-id="148"></div>
        <div class="guest-placement__seat" data-seat-id="149"></div>
        <div class="guest-placement__seat" data-seat-id="150"></div>
        <div class="guest-placement__seat" data-seat-id="151"></div>
        <div class="guest-placement__seat" data-seat-id="152"></div>
        <div class="guest-placement__seat" data-seat-id="153"></div>
        <div class="guest-placement__seat" data-seat-id="154"></div>
        <div class="guest-placement__seat" data-seat-id="155"></div>
        <div class="guest-placement__seat" data-seat-id="156"></div>
        <div class="guest-placement__seat" data-seat-id="157"></div>
        <div class="guest-placement__seat" data-seat-id="158"></div>
        <div class="guest-placement__seat" data-seat-id="159"></div>
        <div class="guest-placement__seat" data-seat-id="160"></div>
        <div class="guest-placement__seat" data-seat-id="161"></div>
        <div class="guest-placement__seat" data-seat-id="162"></div>
        <div class="guest-placement__seat" data-seat-id="163"></div>
        <div class="guest-placement__seat" data-seat-id="164"></div>
        <div class="guest-placement__seat" data-seat-id="165"></div>
        <div class="guest-placement__seat" data-seat-id="166"></div>
        <div class="guest-placement__seat" data-seat-id="167"></div>
        <div class="guest-placement__seat" data-seat-id="168"></div>
        <div class="guest-placement__seat" data-seat-id="169"></div>
        <div class="guest-placement__seat" data-seat-id="170"></div>
        <div class="guest-placement__seat" data-seat-id="171"></div>
        <div class="guest-placement__seat" data-seat-id="172"></div>
        <div class="guest-placement__seat" data-seat-id="173"></div>

    </div>
    <div class="guest-placement__table guest-placement__table--4-5"></div>
    <div class="guest-placement__set-row--left-side">

        <div class="guest-placement__seat" data-seat-id="174"></div>
        <div class="guest-placement__seat" data-seat-id="175"></div>
        <div class="guest-placement__seat" data-seat-id="176"></div>
        <div class="guest-placement__seat" data-seat-id="177"></div>
        <div class="guest-placement__seat" data-seat-id="178"></div>
        <div class="guest-placement__seat" data-seat-id="179"></div>
        <div class="guest-placement__seat" data-seat-id="180"></div>
        <div class="guest-placement__seat" data-seat-id="181"></div>
        <div class="guest-placement__seat" data-seat-id="182"></div>
        <div class="guest-placement__seat" data-seat-id="183"></div>
        <div class="guest-placement__seat" data-seat-id="184"></div>
        <div class="guest-placement__seat" data-seat-id="185"></div>
        <div class="guest-placement__seat" data-seat-id="186"></div>
        <div class="guest-placement__seat" data-seat-id="187"></div>
        <div class="guest-placement__seat" data-seat-id="188"></div>
        <div class="guest-placement__seat" data-seat-id="189"></div>
        <div class="guest-placement__seat" data-seat-id="190"></div>
        <div class="guest-placement__seat" data-seat-id="191"></div>
        <div class="guest-placement__seat" data-seat-id="192"></div>
        <div class="guest-placement__seat" data-seat-id="193"></div>
        <div class="guest-placement__seat" data-seat-id="194"></div>
        <div class="guest-placement__seat" data-seat-id="195"></div>
        <div class="guest-placement__seat" data-seat-id="196"></div>
        <div class="guest-placement__seat" data-seat-id="197"></div>
        <div class="guest-placement__seat" data-seat-id="198"></div>
        <div class="guest-placement__seat" data-seat-id="199"></div>
        <div class="guest-placement__seat" data-seat-id="200"></div>

    </div>
</div>