{% extends 'base.html.twig' %}
{% block style %}
        {{ encore_entry_link_tags('auth') }}
{% endblock %}
{% block main %}
        <div class="main-margin-inline main-margin-block">
                <section>
                        <div class="welcome-content">
                                <div class="welcome-nav">
                                        <h2 class="welcome-nav__current">Dziękujemy za potwierdzenie obecności :)</h2>
                                </div>
                        </div>
                        <div>
                                <h4>Oto twój link do podglądu przydzielonych miejsc: <a class="main-link--first" target="_blank" href="{{ url('guest_placement_view', {uuid: uuid}) }}">Przejdź by zobaczyć swoje miejsce</a></h4>
                                
                        </div>
                </section>
        </div>
{% endblock %}
