$seatWidth: 22px;
$seatGap: 3px;
@mixin table-width($numberOfSeat){
    width: $numberOfSeat*($seatWidth+$seatGap)+$seatGap;
}
@mixin table-height($numberOfSeat){
    height: $numberOfSeat*($seatWidth+$seatGap)+$seatGap;
}

.guest-placement{
    display: grid;
    overflow-x: auto;
    max-width: 1450px;
    margin-inline: auto;
    @media (min-width: $desktop-m){
        grid-template-columns: 320px 1fr;
        min-height: 50vh;
    }
    &__message-box{
        @media (min-width: $desktop-m){
            margin-inline: 120px;
        }
        color: #ececec;
        text-align: center;
        margin-block: 30px 50px;
    }
    &__list{
      position: relative;
      min-height: 400px;
        &-item{
            border-bottom: 2px solid $second;
            padding-block: 1rem;
            padding-inline: 10px 20px;
        }
        &-input{
            -webkit-appearance: none;
            -moz-appearance: none;
            &:checked{
                + .guest-placement__list-name{
                    color: $second
                }
            }
            &:before{
                content: '';
                width: 20px;
                display: block;
            }
            &:not([data-guest-seat-id=""]){
                &:before{
                    @extend %fa-icon;
                    @extend .fas;
                    content: fa-content($fa-var-chair);
                    color: $second;
                }
            }
        }
        &-name{
            inline-size: -webkit-fill-available;
        }
        &-unset-btn{
            justify-self: flex-end;
            &:before{
                @extend %fa-icon;
                @extend .fas;
                content: fa-content($fa-var-eraser);
                color: $second;
            }
        }
        &-label{
            display: flex;
            flex-direction: row;
        }
        &-form{
            position: absolute;
            top: 0; left: 0;
            right: 0; bottom: 0;
            overflow-y: scroll;
        }
    }
    &__plan{
        display: grid;
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: repeat(7, 84px);
        align-items: center;
        justify-items: center;
        overflow-x: auto;
        padding-inline: 15px;
    }
    &__set{
        max-width: fit-content;
        display: grid;
        &--1-1{
            grid-row: 1/3;
            grid-column: 2/4;
            
        }
        &--1-2{
            grid-row: 2/7;
            grid-column: 1/3;
        }
        &--1-3{
            grid-row: 2/7;
            grid-column: 3/5;
        }
        &-row{
            &--top, &--bottom, &--left-side, &--right-side{
                gap: $seatGap;
                display: flex;
            }
            &--top, &--bottom{
                padding-block: 6px;
                padding-inline: $seatGap;
            }
            &--left-side, &--right-side{
                padding-block: $seatGap;
                padding-inline: 6px;
                flex-direction: column;
            }
            &--top{
                grid-column: 2;
                grid-row: 1;
            }
            &--bottom{
                grid-column: 2;
                grid-row: 3;
            }
            &--right-side{
                grid-column: 3;
                grid-row: 2;
            }
            &--left-side{
                grid-column: 1;
                grid-row: 2;
            }
        }
    }

    &__table{
        border: 3px solid #dbb022;

        border-radius: 5px;
        display: flex;
        &--1-1{
            grid-column: 2;
            grid-row: 2;
            @include table-width(10);
            height: 100px;
        }
        &--1-2{
            @include table-height(10);
            width: 100px;
            grid-column: 2;
            grid-row: 2;
        }
        &--1-3{
            @include table-height(10);
            width: 100px;
            grid-column: 2;
            grid-row: 2;
        }
        &--2-1{
            grid-column: 2;
            grid-row: 2;
            @include table-width(10);
            height: 100px;
        }
        &--2-2{
            @include table-height(16);
            width: 100px;
            grid-column: 2;
            grid-row: 2;
        }
        &--2-3{
            @include table-height(16);
            width: 100px;
            grid-column: 2;
            grid-row: 2;
        }
    }
    &__seat{
        width: $seatWidth;
        height: $seatWidth;
        border-radius: 50%;
        border: 2px solid $second;

        &.occupied{
            background-color: $second;
            &:hover{
                background-color: rgba($color: $second, $alpha: 0.5);
            }
        }
        &.selected{
            background-color: #ffffff;
        }
        &.occupied.selected{
            animation: blink .9s ease-in;
            animation-iteration-count: infinite;
        }
        &:hover{
            background-color: rgba($color: #fff, $alpha: 0.5);
        }
        &.blink{
            animation: blink .9s ease-in;
            animation-iteration-count: infinite;

        }
        @keyframes blink {
          0%{
              background-color: $second;
          }
          100%{
              background-color: transparent;
          }
        }
    }
}