.guest-placement{
    display: grid;
    overflow-x: auto;
    max-width: 1450px;
    margin-inline: auto;
    @media (min-width: $desktop-m){
        grid-template-columns: 320px 1fr;
        min-height: 50vh;
    }
    &__message-box{
        @media (min-width: $desktop-m){
            margin-inline: 120px;
        }
        color: #ececec;
        text-align: center;
        margin-block: 30px 50px;
    }
    &__list{
      position: relative;
      min-height: 400px;
        &-item{
            border-bottom: 2px solid $second;
            padding-block: 1rem;
            padding-inline: 10px 20px;
        }
        &-input{
            -webkit-appearance: none;
            -moz-appearance: none;
            &:checked{
                + .guest-placement__list-name{
                    color: $second
                }
            }
            &:before{
                content: '';
                width: 20px;
                display: block;
            }
            &:not([data-guest-seat-id=""]){
                &:before{
                    @extend %fa-icon;
                    @extend .fas;
                    content: fa-content($fa-var-chair);
                    color: $second;
                }
            }
        }
        &-name{
            inline-size: -webkit-fill-available;
        }
        &-unset-btn{
            justify-self: flex-end;
            &:before{
                @extend %fa-icon;
                @extend .fas;
                content: fa-content($fa-var-eraser);
                color: $second;
            }
        }
        &-label{
            display: flex;
            flex-direction: row;
        }
        &-form{
            position: absolute;
            top: 0; left: 0;
            right: 0; bottom: 0;
            overflow-y: scroll;
        }
    }

}