.guest-list{
    &__item{
        padding-block: 1.5rem;
        border-bottom: 1px solid $second;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        flex-wrap: wrap;
        &-datails{
            display: flex;
            align-items: center;
            max-width: 200px;
        }
        &-action-list{
            margin-left: auto;
            gap: 5px;

        }
        &-action{
            padding: 5px 5px;
            margin-inline: 5px;
            font-size: 1.2rem;
            color: $second;
            @extend %fa-icon;
            @extend .fas;

            &--delete{
                &:before{
                  content: fa-content($fa-var-user-minus);
                }
            }
            &--file-download{
                &:before{
                  content: fa-content($fa-var-file-download);
                }
            }
            &--send{
                &:before{
                  content: fa-content($fa-var-envelope);
                }
            }
            &--edit{
                &:before{
                  content: fa-content($fa-var-edit);
                }
            }
            &--conflict{
                &:before{
                  content: fa-content($fa-var-user-times);
                }
            }
            &--sended{
                opacity: 0.5;
                // pointer-events: none;
                cursor: initial;
                &:before{
                  content: fa-content($fa-var-envelope-open-text);
                }
            }
            &--disable{
                opacity: 0.5;
                cursor: initial;
            }
        }
    }
}