.home-card{
    font-size: 1.5rem;
    font-weight: 400;
    padding: 2rem 1rem;
    display: grid;
    &__header{
        border-bottom: 2px solid $second;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        font-weight: 500;
        align-self: self-start;
        &--guests{
            &:before {
                @extend %fa-icon;
                @extend .fas;
              content: fa-content($fa-var-users);
              color: $second;
            }
        }
        &--budget{
            &:before {
                @extend %fa-icon;
                @extend .fas;
              content: fa-content($fa-var-wallet);
              color: $second;
            }
        }
        &--checklist{
            &:before {
                @extend %fa-icon;
                @extend .fas;
                content: fa-content($fa-var-clipboard-list);
                color: $second;
            }
        }
        &--guest-placement{
            &:before {
                @extend %fa-icon;
                @extend .fas;
                content: fa-content($fa-var-drafting-compass);
                color: $second;
            }
        }
    }
    &__content{

    }
    &__button{
        align-self: self-end;
        margin-block: .5rem;
        text-align: right;
        font-size: 1.3rem;
    }
}